/* Для шриштів: налаштування шрифта+кирилиця, підключаємо завжди! Чистимо непотрібні розміри шрифта в посиланні, для кращої оптимізації.
 &display=swap&subset=cyrillic-ext */

@import url("https://fonts.googleapis.com/css?family=Chivo:300,300italic,regular,italic,700,700italic&display=swap&subset=cyrillic-ext");

@font-face {
  font-family: "Polaris";
  src: url("../fonts/Polaris.woff2") format("woff2"), url("../fonts/Polaris.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Обнулення СТИЛІВ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
}
li {
  list-style: none;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
img {
  vertical-align: top;
}
html {
}
body {
  font-family: "Chivo", "Arial", sans-serif;
  line-height: 2;
}
h1,
h2,
.main,
.footer a {
  font-family: "Polaris", serif;
}
/* --------------- */

/*.menu .nav a {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #ff0000;
}*/
.menu a {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #ff0000;
}

/*.nav .navItalik {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #ff0000;
}*/

/*.navItalik {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
}*/

/*.nav a {
  font-size: 18px;
  font-weight: 700;
  font-style: italic;
  color: #ff0000;
}*/
.content {
}
.mainTitle {
  text-align: center;
}
.title {
  font-size: 22px;
  font-weight: 700;
  word-spacing: 5px;
}

.title span {
  text-shadow: 1px 1px 5px #d49dd4;
  font-weight: 700;
}

.mainTitle .subtitle {
  font-size: 22px;
}
.mainTitle p {
  text-decoration: underline;
}
.text .subtitle {
  text-transform: none;
  text-align: left;
  font-size: 22px;
  letter-spacing: 5px;
}
.text {
  text-transform: capitalize;
  white-space: nowrap;
}
.text + * {
  text-indent: 25px;
}
.text a {
  text-shadow: 1px 1px 5px #d49dd4;
  font-weight: 700;
}
.telega a {
  text-shadow: 1px 1px 5px #87ceeb;
  font-weight: 700;
}
.text p span {
  text-transform: uppercase;
}
.text p mark {
  text-decoration: line-through;
}

.footer {
  text-align: right;
  color: #ff0000;
  font-weight: 700;
  text-transform: lowercase;
}
.footer a {
  text-decoration: underline;
  color: #ffa500;
}
